{% if site.google_analytics %}
<!-- Google Analytics -->
<script>
    (function (i, s, o, g, r) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments);
        };
        i[r].l = 1 * new Date();

        const scriptElement = s.createElement(o);
        const firstScript = s.getElementsByTagName(o)[0];

        scriptElement.async = true;
        scriptElement.src = g;
        firstScript.parentNode.insertBefore(scriptElement, firstScript);
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
{% endif %}
